* {
  background-color: black;
}
body {
  width: 100%;
}

.bg-dark {
  background-color: black !important;
}

.one {
  top: 5rem;
}

.flgshpConsole1 {
  position: absolute;
  z-index: 9;
  /* border: 2px solid red; */
  /* padding-top: 5rem; */
  padding-left: 10rem;
}

section {
  height: 85vh;
}

.fullPage1 {
  /* display: flex; */
  position: relative;
}

.pg1-container {
  display: flex;
  position: relative;
  /* right: 200px; */
}

.pg1-contura-txt {
  font-size: 2rem;
  font-weight: 800;
}

.pg1-txt1 {
  margin-left: 10rem;
  margin-top: 10rem;
  position: absolute;
  z-index: 1;
}

.pg1-img {
  height: 40rem;
  margin-left: 30rem;
  /* width: 30rem; */
  z-index: 2;
}

.pg1-anatomically-txt {
  position: absolute;
  bottom: 8rem;
  margin-left: 2rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.pag1-txt1 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.pg1-anatomically-txt-after-animate {
  position: absolute;
  bottom: 0rem;
  margin-left: 0rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.pg1-anatomically-desc-txt {
  margin-top: 1rem;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
}

.vid01 {
  height: 40rem;
  width: 50rem;
}

@keyframes slideInFromLeft {
  0% {
    /* transform: translateX(-50%); */
    right: 30rem;
  }
  100% {
    /* transform: translateX(0); */
    right: 20rem;
  }
}

@keyframes slideInFromRight {
  0% {
    /* transform: translateX(-50%); */
    left: 30rem;
  }
  100% {
    /* transform: translateX(0); */
    left: 10rem;
  }
}

@keyframes slideInFromTop {
  0% {
    /* transform: translateX(-50%); */
    top: 0rem;
  }
  100% {
    /* transform: translateX(0); */
    top: 15rem;
  }
}

.covervid-wrapper2 {
  bottom: -28rem;
  transform: scale(1.7, 1.4);
  position: absolute;
  right: 20rem;
  height: 28rem;
  width: 50rem;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.covervid-wrapper3 {
  bottom: -28rem;
  transform: scale(1.7, 1.4);
  position: absolute;
  left: 10rem;
  height: 28rem;
  width: 50rem;
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}

.pg2-dynamic-txt {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: -25rem;
  margin-left: 0rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
  animation: 1.5s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromLeft2 {
  0% {
    /* transform: translateX(-50%); */
    right: -50rem;
  }
  100% {
    /* transform: translateX(0); */
    right: -80rem;
  }
}

.pg3-sustainable-txt {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: -25rem;
  right: -80rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
  animation: 1.5s ease-out 0s 1 slideInFromLeft2;
}
