* {
  /* border: 2px solid red; */
  font-family: "Gotham", sans-serif;
  font-family: "Gotham Black", sans-serif;
  font-family: "Gotham Light", sans-serif;
  font-family: "Gotham Thin", sans-serif;
  font-family: "Gotham XLight", sans-serif;
  font-family: "Gotham Book", sans-serif;
  font-family: "Gotham Ultra", sans-serif;
  /* overflow: hidden; */
}

html {
  width: 100%;
  /* overflow: hidden; */
}

body {
  background-color: black;
  width: 100%;
  /* overflow: hidden; */
}

div {
  cursor: pointer;
}

.bg-dark {
  background-color: black !important;
}

.flgshpConsole1 {
  position: absolute;
  padding-left: 10rem;
}

section {
  height: 85vh;
}

#mainContainer {
  margin-top: 2rem;
}

.covervid-wrapper {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pg1-contura-txt {
  font-size: 2rem;
  font-weight: 800;
}

.pg1-txt1 {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10rem;
  margin-top: 10rem;
  position: absolute;
}

.pg1-img {
  height: 40rem;
  margin-top: 5rem;
}

.pg1-anatomically-txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 8rem;
  right: 5rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.pg1-anatomically-desc-txt {
  margin-top: 1rem;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
}

@keyframes slideInFromLeft {
  0% {
    right: 25rem;
  }
  100% {
    right: 15rem;
  }
}

@keyframes slideInFromTop {
  0% {
    top: 0rem;
  }
  100% {
    top: 18rem;
  }
}

.vid01 {
  background: rgba(0, 0, 0, 0);
  transform: scale(1.5, 1.2);
  height: 40rem;
  width: 50rem;
}

.covervid-wrapper2 {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  height: 40rem;
  width: 50rem;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  overflow: hidden;
  z-index: -1;
}

.pg2-dynamic-txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18rem;
  left: 0rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  animation: 1.5s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromLeft2 {
  0% {
    left: 25rem;
  }
  100% {
    left: 45rem;
  }
}

@keyframes slideInFromLeft2Mobile {
  0% {
    left: -10rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes slideInFromRight2 {
  0% {
    left: 30rem;
  }
  100% {
    left: 10rem;
  }
}

@keyframes slideInFromRight2Mobile {
  0% {
    left: 10rem;
  }
  100% {
    left: 0rem;
  }
}

.vid03 {
  background: rgba(0, 0, 0, 0);
  transform: scale(1.5, 1.2);
  height: 40rem;
  width: 50rem;
}
.covervid-wrapper3 {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  height: 40rem;
  width: 50rem;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  animation: 1.5s ease-out 0s 1 slideInFromRight2;
}

.pg3-sustainable-txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  left: 45rem;
  top: 20rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  animation: 1.5s ease-out 0s 1 slideInFromLeft2;
}

.pg5-uppertext-container {
  /* border: 2px solid red; */
  background-color: rgba(0, 0, 0, 0);
  transform: scale(2);
  top: -5rem;
  margin-left: 55rem;
  width: 100%;
  width: max-content;
  position: absolute;
  z-index: 1;
}

@keyframes slideInFromLeft6 {
  0% {
    right: 50rem;
  }
  100% {
    right: 30rem;
  }
}

.covervid-wrapper6 {
  bottom: -28rem;
  transform: scale(1.7, 1.4);
  position: absolute;
  right: 30rem;
  height: 28rem;
  width: 50rem;
  animation: 1.5s ease-out 0s 1 slideInFromLeft6;
}

@keyframes slideInFromLeft6Txt {
  0% {
    left: -10rem;
  }
  100% {
    left: 0rem;
  }
}

.pg6-customisable-txt {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: -10rem;
  margin-left: 0rem;
  color: white;
  width: 25rem;
  font-size: 1.2rem;
  font-weight: 500;
  animation: 1.5s ease-out 0s 1 slideInFromLeft6Txt;
}

.pg6-img {
  transform: scale(0.5);
  /* height: 20rem; */
  /* margin-left: 30rem; */
  /* width: 30rem; */
  /* z-index: 2; */
}

/* Footer */
.foamTitle {
  margin-top: 4rem;
  font-size: 24px;
  font-weight: 800;
  margin-left: 3rem;
}

.footer-container-img1 {
  background-color: #00a7b5;
  height: 10rem;
  width: 18rem;
}

.footer-container-img2 {
  background-color: #3cdbc0;
  height: 10rem;
  width: 18rem;
}

.footer-container-img3 {
  background-color: #a4d65e;
  height: 10rem;
  width: 18rem;
}

.footer-container-desc {
  margin-top: 1rem;
  width: 18rem;
}

.footer-container-desc-title {
  font-weight: 800;
}
.footer-container-desc-txt {
  margin-top: 0.2rem;
  font-weight: 200;
  font-size: 12px;
}

.ctr-1 {
  margin-right: 2rem;
}

.ctr-2 {
  margin-right: 2rem;
}

.ctr-3 {
  margin-right: 2rem;
}

.btm-bar-footer {
  background-color: #00bbb4;
  margin-top: 2rem;
  width: 100%;
  height: 8rem;
}

.btm-bar-footer-txt {
  color: white;
  font-size: 28px;
  font-weight: 900;
}

.btm-bar-footer-sample {
  border: 1px solid white;
  color: white;
  padding: 1rem 2rem;
  /* font-size: 28px; */
  /* font-weight: 900; */
}

.footer-policy {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 12px;
}

.footer-policy > div {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid white;
}

.footer-address {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 12px;
}

.socialmedia-container {
  padding: 10px;
}

.footer-socialmedia-icon {
  margin-left: 0.5rem;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #00bbb4;
}

.footer-socialmedia-icon1 {
  margin-left: 0.5rem;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #00bbb4;
}

.footer-socialmedia-icon1 > i {
  margin-left: -0.2rem;
  margin-top: 0.2rem;
}

@media only screen and (max-width: 768px) {
  /* 1st Page */
  .flgshpConsole1 {
    padding-left: 2rem;
    font-size: 22px;
    font-weight: 800;
  }

  .pg1-txt1 {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  .covervid-wrapper {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .pg1-img {
    height: 20rem;
    margin-top: 10rem;
  }

  .pg1-anatomically-txt {
    bottom: 4rem;
    left: 2rem;
    color: white;
    width: 20rem;
    font-size: 1rem;
    font-weight: 500;
  }

  /* 2nd page */
  .vid01 {
    transform: scale(1.2, 1.5);
    width: 25rem;
    left: 2rem;
  }
  .covervid-wrapper2 {
    width: 25rem;
    top: 2rem;
    left: 0rem;
  }
  .pg2-dynamic-txt {
    width: 20rem;
    bottom: 0rem;
    font-size: 1rem;
    /* top: 5rem; */
    left: 0rem;
  }

  /* 3rd page */

  .vid03 {
    transform: scale(1.2, 1.5);
    width: 25rem;
    left: 2rem;
  }

  .covervid-wrapper3 {
    width: 25rem;
    top: 2rem;
    left: 0rem;
    animation: 1.5s ease-out 0s 1 slideInFromRight2Mobile;
  }

  .pg3-sustainable-txt {
    left: 0rem;
    top: 18rem;
    width: 20rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    animation: 1.5s ease-out 0s 1 slideInFromLeft2Mobile;
  }
}
